<!DOCTYPE html>
{% extends 'apps/index.html' %}
{% block body_block %}
<html>
<head>
	<h1 style="color: red; text-align: center;">
		<b>TRAINING COURSE</b>
	</h1>
	<h2 style="color:black; text-align: center">100% PRACTICAL TRAINING</h2>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>service</title>
</head>
<style>
	p1{
		color: green;text-indent: 30px;text-align: center;
		font-family: 'Times New Roman';font-size: xx-large;
	}
</style>
<body>
	<p1>DJANGO<hr>PYTHON<hr>C<hr>C++<hr>SQL<hr>HTML<hr>CSS<hr></p1>
</body>
{% endblock %}
</html>